.custom-title {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Cambia la fuente según tus preferencias */
    font-size: 5em; /* Cambia el tamaño de la fuente según tus preferencias */
    font-weight: bolder; /* Cambia el peso de la fuente según tus preferencias */
    color: purple; /* Cambia el color de la fuente según tus preferencias */
  }
